<div class= "about">
  <div class= "topbackground">
  </div>
  <div class="content">
  </div>
  <div class= "aboutbackground">
    <h1 class="aboutauthorword">
      About Project Liber8
    </h1>
  </div>
  <div class="aboutinformation">
    <div class= "aboutinformationelement text-center"> Human trafficking is a term used to describe the activity by which millions of people are transported around to become enslaved each year.
    But how many people know about human trafficking? Or that it's happening everyday in our country? Sometimes in our own backyard.
    This is where Project Liber8 comes in! We feed you information, ideas and ways to help fight against human trafficking. Which is how our name comes in, the 8 in Project Liber8 signifies the 8 fun and exciting things you can do to help us stand against human trafficking today!
    Help us help everyone be aware of human trafficking, and eventually help stop trafficking.
    It's an awareness campaign! You'll have tons of fun following us around. Join us now to see what we have up for you!
    </div>
  </div>
  <hr class= "break">
  </hr>
  <section class= "myinfo">
    <div class= "contactinfo text-center">
      <%= fa_icon "facebook-official 5x" %>
        <hr class= "break2">
        </hr>
      <%= link_to "Facebook", "https://www.facebook.com/ProjectLiber8/" %>
    </div>
    <div class= "contactinfo text-center">
      <%= fa_icon "instagram 5x" %>
        <hr class= "break2">
        </hr>
      <%= link_to "Instagram", "https://www.instagram.com/projectliber8/" %>
    </div>
    <div class= "contactinfo text-center">
      <%= fa_icon "twitter 5x" %>
        <hr class= "break2">
        </hr>
      <%= link_to "Twitter", "https://twitter.com/projectliber8" %>
    </div>
  </section>
</div>
