<div class= "commentpartial" data-id="<%=comment.id%>">
  <%= comment.body %>
    <div class= "editdeletebutton">
      <% if current_user.admin? || current_user.moderator? %>
        <%= link_to "Edit", edit_topic_post_comment_path(post.topic, post, comment) %>
        <%= link_to "Delete", topic_post_comment_path(post.topic, post, comment), method: :delete, data:{confirm: "Confirm Delete?"} %>
      <% end %>
    </div>
      <%= image_tag comment.image %>
</div>
