<div class= "comments">
  <% @comments.each do |comment| %>
    <h5>
      <%= comment.body %>
    </h5>
    <%= image_tag comment.image %>
    <%= link_to "Edit", edit_topic_post_comment_path(@topic, @post, comment) %>
    <%= link_to "Delete", topic_post_comment_path(@topic, @post, comment), method: :delete, data:{confirm: "Confirm Delete?"} %>
  <% end %>
  <%= link_to "New Comment", new_topic_post_comment_path %>
</div>
